<!DOCTYPE html>
<html xmlns:content-type="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all-books</title>
    <link href="/resources/css/selectable_table.css" rel="stylesheet" type="text/css">
</head>
<body>
<section>

    <a th:href="@{/books/add-book}">
        <button>add book</button>
    </a>

    <table>

        <thead>
        <tr>
            <th>isbn</th>
            <th>title</th>
            <th>author</th>
            <th>year</th>
            <th>in stock</th>
        </tr>
        </thead>

        <tbody th:each="book: ${books_list}">
        <tr>
            <td>
                <a th:text="${book.isbn}"></a>
            </td>

            <td>
                <a th:text="${book.title}"></a>
            </td>

            <td>
                <a th:text="${book.authorLastName == null} ? ${book.authorId} : ${book.authorLastName}"></a>
            </td>

            <td>
                <a th:text="${book.yearOfWriting}"></a>
            </td>

            <td>
                <a th:text="${book.unitsInStock}"></a>
            </td>

            <td>
                <form th:method="delete" th:action="@{/books/delete-book-{isbn}(isbn = ${book.isbn})}">
                    <input type="submit" value="delete book">
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</section>
</body>
</html>